header.static_header
      nav.static_nav
        img(src="/favicons/favicon-32x32.png" alt="")
      nav.static_nav
        button.myAccount My Account
      nav.static_nav
        button.btnlogout(onclick="logoutButton()") Logout
        