doctype html
html
  head
    script(src='js/admin_script.js')
    meta(charset='utf-8')
    include _basic
    title Notes App
    link(rel='stylesheet' href='style.css')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    // Iconscout Link For Icons
    link(rel='stylesheet' href='https://unicons.iconscout.com/release/v4.0.0/css/line.css')
    script(src='js/admin_script.js' type="module")
  body
    include _header
    .wrapper

      //- each user in users
      //-     li.note
      //-       div.details
      //-         p= user.name
      //-         span= user.email
      //-         span= user.notes.length
      //-         p=user
      //-       div.bottom-content
      //-         div.settings
      //-           i.uil.uil-ellipsis-h
      //-             ul.menu
      //-               li
      //-                 i.uil.uil-pen
      //-                 | show notes
